@{
    ViewBag.Title = "Échec du Paiement";
}

<div class="container">
    <div class="payment-card">
        <h2 class="payment-title">Échec du Paiement</h2>
        <p class="payment-message">Désolé, votre paiement n'a pas pu être traité. Veuillez réessayer.</p>
        <a href="/" class="btn-primary btn-infoperso">Retour à l'accueil</a>
    </div>
</div>
