@{
    ViewBag.Title = "Paiement Réussi";
}

<div class="container">
    <div class="payment-card">
        <h2 class="payment-title">Paiement Réussi</h2>
        <p class="payment-message">Merci pour votre achat ! Votre paiement a été effectué avec succès.</p>
        <a href="/" class="btn-primary btn-infoperso">Retour à l'accueil</a>
    </div>
</div>
