html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    background-color: #f8f4ec; /* Couleur de fond beige */
}

.container {
    padding-bottom: 80px; /* Ajustez ceci en fonction de la hauteur de votre footer */
}

.row {
    display: block; /* Désactive flexbox */
}

.sidebar {
    width: 300px;
    float: left; /* Utilise float pour positionner la barre latérale */
}

.content {
    margin-left: 320px; /* Marge gauche pour compenser la largeur de la barre latérale */
}

.product-grid {
    display: inline-block;
    width: 100%;
}

.product-card {
    display: inline-block;
    width: 31%; /* Assure 3 produits par ligne, ajuste selon les besoins */
    margin: 0 1%; /* Espace entre les produits */
    vertical-align: top; /* Assure l'alignement des cartes */
    margin-bottom: 20px;
}

.filter-form {
    background-color: #e5d3c2; /* Beige clair pour le formulaire de filtre */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

    .filter-form h5 {
        color: #641c3d; /* Bordeaux pour les titres des filtres */
    }

.form-control {
    border-radius: 5px;
    border: 1px solid #c8c8c8;
}

.card {
    border-radius: 20px;
    background-color: #fff; /* Fond blanc pour les cartes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    height: 100%;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #641c3d; /* Bordeaux pour les prix */
    margin-bottom: 15px;
}

.btn-primary {
    border-radius: 50px;
    width: 100%;
    background-color: #641c3d; /* Bordeaux pour le bouton d'achat */
    border: none;
    padding: 10px 0;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
}

    .btn-primary:hover {
        background-color: #4a1527; /* Couleur de survol du bouton */
    }

.product-page .card-img-top {
    border-radius: 15px;
    width: 100%;
    height: auto;
    max-height: 300px; /* Hauteur ajustée pour les images de produits */
    object-fit: contain;
}

.footer {
    background-color: #641c3d;
    height: 60px;
}

.footer a {
    text-decoration: none;
    color: #f8f4ec;
}

.footer .container {
    height: 100%;
    color: #f8f4ec;
}

.


